body{
  background-color: #daf7f7;
}
.header{
  text-align: center;
  display: flex;
  flex-direction: row;
}
  .profilepic img{
    width: 130px;
    height:130px;
  }
  .home{
    float: right;
  }
  .home img{
    width: 50px;
    height: 50px;
    float: right;
  }
  .social {
    display: flex;
    flex: 1;
  }
  .social li{
    list-style: none;
    display: flex;
    flex: 1;
    text-align: center;
  }
  .social li img{
    width: 40px;
    height: 40px;
  }
 .intro h1{
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
 }
 .intro p{
   font-family: cursive;
  font-size: 20px;
  }
  .portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .cards{
    position: relative;

  }
  .cardimage img{
    height:300px;
    width: 300px;
  }
  .cardheader {
    position: absolute;
    font-style: bold;
    color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   }
   .cardheader h3{
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 100px;
   }
   .quizlink {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     margin: 30px;
   }
   .quizlink img{
     width: 300px;
     height: 300px;
   }
   .quizlink p{
     font-size: 25px;
   }
