body{
  background-color: #bbfaf4;
}
.header{
  text-align: center;
  display: flex;
  flex-direction: row;
}
  .profilepic img{
    width: 130px;
    height:130px;
  }
  .home{
    float: right;
  }
  .home img{
    width: 50px;
    height: 50px;
    float: right;
  }
  .social {
    display: flex;
    flex: 1;
  }
  .social li{
    list-style: none;
    display: flex;
    flex: 1;
    text-align: center;
  }
  .social li img{
    width: 40px;
    height: 40px;
  }
 .about h1{
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
 }
 .about p{
   font-family: cursive;
  font-size: 20px;
  }
  .portfolio{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
  }
  .cards img{
    height:300px;
    width: 300px;
    position: absolute;
  }
  .cards h3{
    position: absolute;
    font-style: bold;
    color: #ffffff;
  }
